[submodule "references/ariakit"]
	path = references/ariakit
	url = https://github.com/ariakit/ariakit.git
[submodule "references/css-anchor-kit"]
	path = references/css-anchor-kit
	url = https://github.com/mk668a/css-anchor-kit.git
[submodule "references/astryx"]
	path = references/astryx
	url = https://github.com/facebook/astryx.git
[submodule "references/base-ui"]
	path = references/base-ui
	url = https://github.com/mui/base-ui.git
	shallow = true
[submodule "references/radix-primitives"]
	path = references/radix-primitives
	url = https://github.com/radix-ui/primitives.git
	shallow = true
